.space1 {
    transform-style: preserve-3d;
    position: relative;
    margin: auto;
    width: 300px;
    transform: translateX(20px);
    animation: fly5 10s infinite linear;
}

.space2 {
  transform-style: preserve-3d;
  position: relative;
  margin: auto;
  width: 300px;
  animation: fly6 10s infinite linear;
}

img{
  width: 170px;
  height: 120px;
}

.plane1 {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 170px;
  height: 120px;
  transform-style: preserve-3d;
  transition: 0.5s;
  z-index: -1;
  animation: fly1 10s infinite linear;
  @media (min-width: medium){
  }

}

.plane2 {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 170px;
  height: 120px;
  transform: perspective(1000px) rotateY(-360deg) translateX(-135px) translateY(0px) translateZ(240px);
  transform-style: preserve-3d;
  transition: 0.5s;
  z-index: -1;
  animation: fly2 10s infinite linear;
  @media (min-width: medium){
    transform: perspective(1000px) rotateY(-360deg) translateX(-135px) translateY(0px) translateZ(150px);
  }

}

.plane3 {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 170px;
  height: 120px;
  transform-style: preserve-3d;
  transition: 0.5s;
  z-index: -1;
  animation: fly3 10s infinite linear;
  @media (min-width: medium){
  }

}

.plane4 {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 170px;
  height: 120px;
  transform-style: preserve-3d;
  transition: 0.5s;
  z-index: -1;
  animation: fly4 10s infinite linear;
  @media (min-width: medium){
  }      
        
        
}

.planet2 {
  overflow:hidden;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  transform: perspective(2000px);
  transform-style: preserve-3d;
  width: 170px;
  height: 120px;
}

img[id="1"]{
  transform : rotateY(90deg);
}

img[id="2"]{
  transform : translateX(-52px);
}

img[id="3"]{
  transform : rotateY(90deg) translateY(-92px) rotateX(-45deg);
}

img[id="4"]{
  transform:  translateY(-132px) rotateZ(-45deg)  rotateY(90deg)   ;
}


@keyframes fly1 {
    0% {
      transform: perspective(1000px) rotateY(0deg) translateX(-200px)  ;
    }
    100% {
      transform: perspective(1000px) rotateY(-360deg) translateX(-200px);
    }
  }

  @keyframes fly2 {
    0% {
      transform: perspective(1000px) rotateX(0deg) translateZ(180px);
    }
    100% {
      transform: perspective(1000px) rotateX(-360deg)  translateZ(180px);
    }
  }

  @keyframes fly3 {
    0% {
      transform: perspective(1000px) rotate3d(-1,1,0,0deg) translateX(-130px);
    }
    100% {
      transform: perspective(1000px) rotate3d(-1,1,0,-360deg) translateX(-130px);
    }

  }

  @keyframes fly4 {
    0% {
      transform: perspective(1000px) rotate3d(1,1,0,0deg) translateX(130px) translateY(-10px) ;
    }
    100% {
      transform: perspective(1000px) rotate3d(1,1,0,-360deg) translateX(130px) translateY(-10px);
    }
  }

  @keyframes fly5 {
    0% {
      transform: perspective(1000px) translateY(100px) ;
    }
    50% {
      transform: perspective(1000px) translateY(-100px);
    }
    100% {
      transform: perspective(1000px) translateY(100px);
    }
  }

  @keyframes fly6 {
    0% {
      transform: perspective(1000px) translateY(-100px) ;
    }
    50% {
      transform: perspective(1000px) translateY(100px);
    }
    100% {
      transform: perspective(1000px) translateY(-100px);
    }
  }

body {
  background: black;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

body::-webkit-scrollbar {
  display: none;
}

.hero {
  position: relative; 
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

  .hero::before {    
    content: "";
    background-image: url(img38.jpg);
    background-size: cover;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.85;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 25px 20px 25px 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  transition: 0.3s ease-out;
  backdrop-filter: blur(8px) brightness(1.2);
  -webkit-backdrop-filter: blur(8px) brightness(1.2);
  text-shadow: 0 0 5px rgba(0,0,0,0.5);
  color: white;
  background-color: DodgerBlue	;
  font-size: 25px;
  font-family : "Palatino", "URW Palladio L", "serif"	;
  font-style: oblique;
  z-index: 1;
  }

  
  div[id="1"] {
    display: inline-block;
    position: relative;
  }
  .dropdown-content {
    display: none;
    position: absolute;
    width: 100%;
    overflow: auto;
    box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.4);
  }

  div[id="1"]:hover .dropdown-content {
    display: block;
  }
  .dropdown-content a[id="1"] {
    display: block;
    color: #000000;
    padding: 5px;
    text-decoration: none;
  }
  .dropdown-content a[id="1"]:hover {
    color: #FFFFFF;
    background-color: #00A4BD;
  }

  span:hover{
    filter: brightness(200%);
    color : red;
    text-shadow: 0px 0px 15px black;
}

@media only screen and (max-width: 450px) {

  span,a[id="2"],a[id="1"]{
  
    font-size:15px;
  }
  
}



@media only screen and (max-width: 500px) {

  img{
    width: 85px;
    height: 60px;
  
  }
.space1 img{
  transform: translateX(50px);
}

img[id="1"]{
  transform: translateY(31px);
}

.space2 img[id="5"]{
  transform: translateX(50px);
}



  @keyframes fly1 {
    0% {
      transform: perspective(1000px) rotateY(0deg) translateX(-100px)  ;
    }
    100% {
      transform: perspective(1000px) rotateY(-360deg) translateX(-100px);
    }
  }

  @keyframes fly2 {
    0% {
      transform: perspective(1000px) rotateX(0deg) translateZ(90px);
    }
    100% {
      transform: perspective(1000px) rotateX(-360deg)  translateZ(90px);
    }
  }

  @keyframes fly3 {
    0% {
      transform: perspective(1000px) rotate3d(-1,1,0,0deg) translateX(-70px);
    }
    100% {
      transform: perspective(1000px) rotate3d(-1,1,0,-360deg) translateX(-70px);
    }

  }

  @keyframes fly4 {
    0% {
      transform: perspective(1000px) rotate3d(1,1,0,0deg) translateX(70px) translateY(-10px) ;
    }
    100% {
      transform: perspective(1000px) rotate3d(1,1,0,-360deg) translateX(70px) translateY(-10px);
    }
  }

  @keyframes fly5 {
    0% {
      transform: perspective(1000px) translateY(100px) ;
    }
    50% {
      transform: perspective(1000px) translateY(-100px);
    }
    100% {
      transform: perspective(1000px) translateY(100px);
    }
  }

  @keyframes fly6 {
    0% {
      transform: perspective(1000px) translateY(-100px) ;
    }
    50% {
      transform: perspective(1000px) translateY(100px);
    }
    100% {
      transform: perspective(1000px) translateY(-100px);
    }
  }
}